*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  overflow-y: scroll;
  background-color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 100;
}

.flex-main-header-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.logo {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
}

.main-nav {
  width: 65%;
  height: 100%;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.shop {
  width: 5%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

/* ⬇️⬇️⬇️ MAIN NAV BAR LINKS HOVER UNDERLINE EFFECT - START ⬇️⬇️⬇️*/

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ⬆️⬆️⬆️ MAIN NAV BAR LINKS HOVER UNDERLINE EFFECT - END ⬆️⬆️⬆️*/

/* ⬇️⬇️⬇️ HAMBURGER MENU STYLES TO X ON CLICK --- START ⬇️⬇️⬇️*/

.menu-icon {
  position: fixed;
  top: 30px;
  right: 50px;
  cursor: pointer;
  padding: 20px 0;
  z-index: 200;
}

.nav-icon {
  position: relative;
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
  background-color: #fff;
  display: block;
  height: 2px;
  width: 17px;
  transition: all 0.2s ease-out;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  position: absolute;
}

.nav-icon::before {
  top: 4px;
}

.nav-icon::after {
  top: -4px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
.menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* ⬆️⬆️⬆️ HAMBURGER MENU STYLES TO X ON CLICK --- END ⬆️⬆️⬆️ */

.side-nav-list {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  background-color: #000;
  max-width: 0;
  visibility: hidden;
  transition: max-width 0.5s ease-in-out;
  padding-top: 5rem;
  padding-right: 2rem;
  z-index: 199;
}

.menu-btn:checked ~ .side-nav-list {
  max-width: 500px;
  visibility: visible;
}

.item-from-main-nav {
  display: none;
}

.side-nav-item {
  font-size: 0.9rem;
  text-align: right;
  margin-right: 1rem;
  margin-left: 2rem;
  padding-left: 10rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  border-bottom: 1px solid rgba(222, 212, 212, 0.281);
  text-transform: uppercase;
}

.section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.section > .section-main {
  width: 100%;
  height: 88vh;
}

/* ⬇️⬇️⬇️ FOR ARROW SLIDE DOWN ANIMATION - START ⬇️⬇️⬇️ */

.section > .section-footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.arrow-container {
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: relative;
}

.arrow-down {
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 30%;
  animation-name: arrow-down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes arrow-down {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

/* ⬆️⬆️⬆️ FOR ARROW SLIDE DOWN ANIMATION - END ⬆️⬆️⬆️ */

.section-1 {
  background-image: url("../assets/images/section1-bg.jpg");
}

.section-2 {
  background-image: url("../assets/images/section2-bg.jpg");
}

.section-3 {
  background-image: url("../assets/images/section3-bg.png");
}

.section-4 {
  background-image: url("../assets/images/section4-bg.jpg");
}

.section-5 {
  background-image: url("../assets/images/section5-bg.webp");
}

.footer {
  background-color: #000;
  width: 100%;
  height: 12vh;
}

.footer-nav-list-item.copyright {
  color: #999;
  font-weight: 300;
}

.footer-nav {
  height: 100%;
  width: 100%;
}

.footer-nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.footer-nav-list-item {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.footer-nav-list-item-link {
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.footer-nav-list-item-link:hover {
  color: #999;
}
