* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

body,
main {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  padding-top: 15px;
  z-index: 999;
}

.flex-header-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.left-side-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-horizontal-container {
  width: 100%;
  height: 100%;
}

.nav-horizontal-list {
  height: 100%;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-horizontal-items {
  list-style: none;
}

.nav-horizontal-items-anchors:link,
.nav-horizontal-items-anchors:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 2px;
}

.nav-horizontal-items-anchors:hover,
.nav-horizontal-items-anchors:active {
  border-bottom: 1px solid white;
}

.right-side-container {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-anchor-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-anchor:link,
.shop-anchor:visited {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-bottom: 2px;
}

.shop-anchor:hover,
.shop-anchor:active {
  border-bottom: 1px solid white;
}

.nav-vertical-icon-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-vertical-icon {
  cursor: pointer;
  width: 1.5rem;
}

.bars {
  border-bottom: 2px solid white;
  margin-top: 2px;
}

/* header li {
  list-style: none;
  padding: 16px;
  margin-right: 8px;
}

.header-items {
  display: flex;
}

.header-items-left {
  display: flex;
}

.nav-horizontal ul {
  display: flex;
}

.header-items-right {
  display: flex;
  margin-top: 30px;
  margin-right: 15px;
}

.nav-vertical-icon {
  cursor: pointer;
  width: 1.5rem;
}

.bars {
  border-bottom: 2px solid white;
  margin-top: 3px;
} */

h4 {
  font-weight: 100;
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
}

h2 {
  font-size: 3.5rem;
  margin-left: 1rem;
  margin-bottom: 2.5rem;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

.details {
  width: 30%;
  position: absolute;
  bottom: 120px;
  left: 100px;
}

.details-anchor:link,
.details-anchor:visited {
  display: block;
  position: relative;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
  width: 35%;
  height: 4rem;
  padding-top: 1.2rem;
  transition: all 0.7s ease-in-out;
}

.details-anchor:hover,
.details-anchor:active {
  color: black;
  background-color: white;
}

.section-1 {
  background-image: url(../assets/images/section1.jpg);
}

.section-2 {
  background-image: url(../assets/images/section2.jpg);
}

.section-3 {
  background-image: url(../assets/images/section3.jpg);
}

.section-4 {
  background-image: url(../assets/images/section4.jpg);
}

footer {
  background-color: black;
  height: 12vh;
  width: 100vw;
}
