*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;

  background-color: #000;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 100;
}

.flex-main-header-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.logo {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
}

.logo-small {
  display: none;
}

.main-nav {
  width: 65%;
  height: 100%;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.shop {
  width: 5%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

/* ⬇️⬇️⬇️ MAIN NAV BAR LINKS HOVER UNDERLINE EFFECT - START ⬇️⬇️⬇️*/

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ⬆️⬆️⬆️ MAIN NAV BAR LINKS HOVER UNDERLINE EFFECT - END ⬆️⬆️⬆️*/

/* *************************************************************************************** */
/* *************************************************************************************** */
/* *************************************************************************************** */

/* ⬇️⬇️⬇️ HAMBURGER MENU STYLES TO X ON CLICK --- START ⬇️⬇️⬇️*/

.menu-icon {
  position: fixed;
  top: 30px;
  right: 50px;
  cursor: pointer;
  padding: 20px 0;
  z-index: 2;
}

.nav-icon {
  position: relative;
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
  background-color: #fff;
  display: block;
  height: 2px;
  width: 17px;
  transition: all 0.2s ease-out;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  position: absolute;
}

.nav-icon::before {
  top: 4px;
}

.nav-icon::after {
  top: -4px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
.menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* ⬆️⬆️⬆️ HAMBURGER MENU STYLES TO X ON CLICK --- END ⬆️⬆️⬆️ */

.side-nav-list {
  position: fixed;
  top: 0;
  right: -350px;
  min-height: 100vh;
  background-color: #000;
  width: 350px;
  transition: right 0.5s ease-in-out;
  padding-top: 5rem;
  padding-right: 2rem;
  z-index: 1;
}

.menu-btn:checked ~ .side-nav-list {
  right: 0;
}

.item-from-main-nav {
  display: none;
}

.side-nav-item {
  font-size: 0.9rem;
  text-align: right;
  margin-right: 1rem;
  margin-left: 2rem;
  padding-left: 10rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  border-bottom: 1px solid rgba(222, 212, 212, 0.281);
  text-transform: uppercase;
}

a.side-nav-link-item:hover {
  color: grey;
  transition: color 0.3s ease-in-out;
}

.section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.section > .section-main {
  width: 100%;
  height: 88vh;
  position: relative;
}

.section-info {
  width: 40%;
  height: 50%;
  position: absolute;
  left: 100px;
  bottom: 30px;
}

.info-text {
  position: relative;
  margin-bottom: 40px;
  width: 90%;
  height: 80%;
  text-transform: uppercase;
  color: #fff;
  padding-left: 35px;
}

.section-heading {
  display: block;
  font-weight: 700;
  font-size: 3rem;
  position: absolute;
  left: 0;
  bottom: 50px;
  line-height: 0.99;
}

.extra-text {
  position: absolute;
  left: 0;
  bottom: 15px;
  display: block;
  font-size: 1.3rem;
}

/* ⬇️⬇️⬇️ BUTTON BACKGROUND FILL IN / FILL OUT EFFECT - START ⬇️⬇️⬇️ */

a.info-btn:link,
a.info-btn:visited {
  margin-top: 2rem;
  background: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 130px;
  min-height: 50px;
  border: 2px solid white;
  padding: 1rem 3rem;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}

a.info-btn:hover {
  color: #000;
  transition: color 0.2s linear;
}

a.info-btn:link::before,
a.info-btn:visited::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s linear;
  z-index: -1;
}

a.info-btn:hover::before,
a.info-btn:active::before {
  transform: scaleY(1);
  transform-origin: bottom;
}

/* ⬆️⬆️⬆️ BUTTON BACKGROUND FILL IN / FILL OUT EFFECT - END ⬆️⬆️⬆️ */

/* *************************************************************************************** */
/* *************************************************************************************** */

/* ⬇️⬇️⬇️ FOR ARROW SLIDE DOWN ANIMATION - START ⬇️⬇️⬇️ */

.section > .section-footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.arrow-container {
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: relative;
}

.arrow-down {
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 30%;
  animation-name: arrow-down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes arrow-down {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

/* ⬆️⬆️⬆️ FOR ARROW SLIDE DOWN ANIMATION - END ⬆️⬆️⬆️ */

.section-1 {
  background-image: url("../assets/images/section1-bg.jpg");
}

.section-2 {
  background-image: url("../assets/images/section2-bg.jpg");
}

.section-3 {
  background-image: url("../assets/images/section3-bg.jpg");
}

.section-4 {
  background-image: url("../assets/images/section4-bg.jpg");
}

.section-5 {
  background-image: url("../assets/images/section5-bg.jpg");
}

.footer {
  background-color: #000;
  width: 100%;
  height: 10vh;
}

.footer-nav-list-item.copyright {
  color: #fff;
  font-weight: 300;
}

.footer-nav {
  height: 100%;
  width: 100%;
}

.footer-nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.footer-nav-list-item {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.footer-nav-list-item-link {
  font-weight: 700;
}

.footer-nav-list-item-link:hover {
  color: #999;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 1184px) {
  .main-nav,
  .shop {
    display: none;
  }

  .logo {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    z-index: 3;
  }

  .item-from-main-nav {
    display: block;
  }

  .section-heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 840px) {
  .logo {
    display: none;
  }

  .logo-small {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    z-index: 3;
  }

  .section-heading {
    font-size: 2rem;
  }
}
